POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=super-secret-key
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret
N8N_LICENSE_ACTIVATION_KEY=your-license-key

REDIS_PORT=6379
REDIS_PASSWORD=no-more-secret

NGROK_DOMAIN=some-domain-from-free
NGROK_AUTHTOKEN=XXXYYYZZZ
